.Main {
  min-height: 80vh;
  background-color: rgb(244, 241, 241);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 15rem;
}

.Main div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
